@using SilentLocationService.Lib.DTO
@model List<LocationSimple>

    <div style="border:solid 3px green; border-radius: 20px; text-align: center; font-weight: bold;">
        <a asp-controller="Locations" asp-action="Index" class="btn btn-primary" style="font-size: 20px; margin-top: 0.3%;">
            &#127968;
        </a>
        <p style="color:green;margin-top: 0.5%">Location succesfully deleted!</p>
    </div>




